:root {
    --background: rgba(203, 238, 233, 0.788);
    --shadow: rgb(71, 73, 73);
    --buttonColor1: rgb(70, 218, 198);
    --buttonColor2: rgb(148, 250, 190);
}

* {
    font-family: 'Quicksand', sans-serif;
    font-weight: 500;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

nav {
    display: flex;
    width: 100%;
    justify-content: space-between;
    height: 100px;
}

a {
    text-decoration: none;
}

.quiz, .after-quiz {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding: 20px;
    background-color: var(--background);
    border-radius: 5px;
    flex-direction: column;
    width:700px;
    align-items: center;
}

h1 {
    font-size: 250%;
    font-weight: 300;
}

button {
    border: none;
    box-sizing: border-box;
    background-image: linear-gradient(to bottom, var(--buttonColor1), var(--buttonColor2));
    border-radius: 5px;
    width: 150px;
    padding: 10px;
    margin: 15px 0;
    box-shadow: 2px 2px 5px var(--shadow);
}

li {
    list-style: none;
    background-color: var(--background);
    border-radius: 5px;
    padding: 5px;
    margin: 10px 0;
    text-align: justify;
}

hr {
    width: 600px;
}

.high-scores-page {
    display: flex;
    justify-content: center;
}


.after-quiz, .high-scores-page {
    display: none;
}
